#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body
{
    background: linear-gradient(#eb3434,#ebb434,#34cdeb,#6c2ade);
}
#developerdiv1
{
    margin-top: auto;
}
h1
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
    font-weight: bold;
}
h4
{
    color:#34cdeb;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    font-weight: 200;
}
#camera
{
    width: 500px;
    height: 400px;
    border-color: #6c2ade;
}
img
{
    width: fit-content;
    border-radius: 10px;
    padding: 7px;
    box-shadow:#3e444d;
    
}
img :hover
{
    width: 600px;
    height: 500px;
}
